USE [master]
GO
/****** Object:  Database [gestion_facturation]    Script Date: 07/21/2021 23:43:26 ******/
CREATE DATABASE [gestion_facturation] ON  PRIMARY 
( NAME = N'gestion_facturation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gestion_facturation.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gestion_facturation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gestion_facturation_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestion_facturation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestion_facturation]
GO
/****** Object:  Table [dbo].[client]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[client](
	[code_cl] [int] NOT NULL,
	[nom_cl] [varchar](50) NOT NULL,
	[adresse] [varchar](50) NOT NULL,
	[ville] [varchar](50) NOT NULL,
	[solde] [numeric](18, 2) NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[code_cl] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[client] ([code_cl], [nom_cl], [adresse], [ville], [solde]) VALUES (1, N'ahmed', N'258 hay nahda', N'KHOURIBGA', CAST(0.00 AS Numeric(18, 2)))
INSERT [dbo].[client] ([code_cl], [nom_cl], [adresse], [ville], [solde]) VALUES (2, N'SAID', N'87 cartier 1', N'casa', CAST(5.00 AS Numeric(18, 2)))
/****** Object:  Table [dbo].[agent]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[agent](
	[code_agent] [int] NOT NULL,
	[nom_agent] [varchar](50) NOT NULL,
 CONSTRAINT [PK_agent] PRIMARY KEY CLUSTERED 
(
	[code_agent] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[agent] ([code_agent], [nom_agent]) VALUES (1, N'ahmed')
INSERT [dbo].[agent] ([code_agent], [nom_agent]) VALUES (2, N'said')
INSERT [dbo].[agent] ([code_agent], [nom_agent]) VALUES (3, N'mohamed')
/****** Object:  Table [dbo].[mode]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mode](
	[code_mode] [int] NOT NULL,
	[libelle_mode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_mode] PRIMARY KEY CLUSTERED 
(
	[code_mode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[mode] ([code_mode], [libelle_mode]) VALUES (1, N'CART')
INSERT [dbo].[mode] ([code_mode], [libelle_mode]) VALUES (2, N'ESPECE')
INSERT [dbo].[mode] ([code_mode], [libelle_mode]) VALUES (3, N'CHEQUE')
/****** Object:  Table [dbo].[marchandises]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marchandises](
	[ref] [int] IDENTITY(7,1) NOT NULL,
	[designation] [varchar](50) NOT NULL,
	[pu] [money] NOT NULL,
	[qut_st] [int] NOT NULL,
	[binaryIMG] [image] NULL,
 CONSTRAINT [PK_marchandises] PRIMARY KEY CLUSTERED 
(
	[ref] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[marchandises] ON
SET IDENTITY_INSERT [dbo].[marchandises] OFF
/****** Object:  Table [dbo].[reglement]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reglement](
	[no_reglement] [int] NOT NULL,
	[date_reg] [datetime] NOT NULL,
	[total_reglement] [numeric](18, 2) NULL,
	[code_agent] [int] NOT NULL,
 CONSTRAINT [PK_reglement] PRIMARY KEY CLUSTERED 
(
	[no_reglement] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facture]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facture](
	[no_facture] [int] IDENTITY(1,1) NOT NULL,
	[date_facture] [datetime] NOT NULL,
	[montant_facture] [numeric](18, 2) NULL,
	[montant_rest] [numeric](18, 2) NULL,
	[code_cl] [int] NOT NULL,
 CONSTRAINT [PK__facture__3C59671D37A5467C] PRIMARY KEY CLUSTERED 
(
	[no_facture] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[facture] ON
INSERT [dbo].[facture] ([no_facture], [date_facture], [montant_facture], [montant_rest], [code_cl]) VALUES (1, CAST(0x0000AB0C008403B4 AS DateTime), CAST(20.00 AS Numeric(18, 2)), CAST(-20.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[facture] ([no_facture], [date_facture], [montant_facture], [montant_rest], [code_cl]) VALUES (2, CAST(0x0000AB0C008417A0 AS DateTime), CAST(20.00 AS Numeric(18, 2)), CAST(-20.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[facture] ([no_facture], [date_facture], [montant_facture], [montant_rest], [code_cl]) VALUES (11, CAST(0x0000AB0C008417A0 AS DateTime), CAST(12.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[facture] OFF
/****** Object:  Table [dbo].[en_mode]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[en_mode](
	[no_reglement] [int] NOT NULL,
	[code_mode] [int] NOT NULL,
	[sous_montant] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contient]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contient](
	[ref] [int] NOT NULL,
	[no_facture] [int] NOT NULL,
	[qut_cd] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[contient] ([ref], [no_facture], [qut_cd]) VALUES (1, 1, 20)
INSERT [dbo].[contient] ([ref], [no_facture], [qut_cd]) VALUES (2, 2, 20)
INSERT [dbo].[contient] ([ref], [no_facture], [qut_cd]) VALUES (3, 11, 5)
/****** Object:  Table [dbo].[concerner]    Script Date: 07/21/2021 23:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concerner](
	[no_facture] [int] NOT NULL,
	[no_reglement] [int] NOT NULL,
	[montant_reg] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Get_fact]    Script Date: 07/21/2021 23:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Get_fact] 
@no_fact int
as 

begin
select * from facture where no_facture=@no_fact
end
GO
/****** Object:  StoredProcedure [dbo].[get_contient]    Script Date: 07/21/2021 23:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_contient] 
@nofact int

as begin
select * from contient where  no_facture=@nofact
end
GO
/****** Object:  ForeignKey [FK_reglement_agent]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[reglement]  WITH CHECK ADD  CONSTRAINT [FK_reglement_agent] FOREIGN KEY([code_agent])
REFERENCES [dbo].[agent] ([code_agent])
GO
ALTER TABLE [dbo].[reglement] CHECK CONSTRAINT [FK_reglement_agent]
GO
/****** Object:  ForeignKey [FK_facture_client]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[facture]  WITH CHECK ADD  CONSTRAINT [FK_facture_client] FOREIGN KEY([code_cl])
REFERENCES [dbo].[client] ([code_cl])
GO
ALTER TABLE [dbo].[facture] CHECK CONSTRAINT [FK_facture_client]
GO
/****** Object:  ForeignKey [FK_en_mode_mode]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[en_mode]  WITH CHECK ADD  CONSTRAINT [FK_en_mode_mode] FOREIGN KEY([code_mode])
REFERENCES [dbo].[mode] ([code_mode])
GO
ALTER TABLE [dbo].[en_mode] CHECK CONSTRAINT [FK_en_mode_mode]
GO
/****** Object:  ForeignKey [FK_en_mode_reglement]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[en_mode]  WITH CHECK ADD  CONSTRAINT [FK_en_mode_reglement] FOREIGN KEY([no_reglement])
REFERENCES [dbo].[reglement] ([no_reglement])
GO
ALTER TABLE [dbo].[en_mode] CHECK CONSTRAINT [FK_en_mode_reglement]
GO
/****** Object:  ForeignKey [FK_contient_facture]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[contient]  WITH CHECK ADD  CONSTRAINT [FK_contient_facture] FOREIGN KEY([no_facture])
REFERENCES [dbo].[facture] ([no_facture])
GO
ALTER TABLE [dbo].[contient] CHECK CONSTRAINT [FK_contient_facture]
GO
/****** Object:  ForeignKey [FK_contient_marchandises1]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[contient]  WITH CHECK ADD  CONSTRAINT [FK_contient_marchandises1] FOREIGN KEY([ref])
REFERENCES [dbo].[marchandises] ([ref])
GO
ALTER TABLE [dbo].[contient] CHECK CONSTRAINT [FK_contient_marchandises1]
GO
/****** Object:  ForeignKey [FK_concermer_reglement]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[concerner]  WITH CHECK ADD  CONSTRAINT [FK_concermer_reglement] FOREIGN KEY([no_reglement])
REFERENCES [dbo].[reglement] ([no_reglement])
GO
ALTER TABLE [dbo].[concerner] CHECK CONSTRAINT [FK_concermer_reglement]
GO
/****** Object:  ForeignKey [FK_concerner_facture]    Script Date: 07/21/2021 23:43:27 ******/
ALTER TABLE [dbo].[concerner]  WITH CHECK ADD  CONSTRAINT [FK_concerner_facture] FOREIGN KEY([no_facture])
REFERENCES [dbo].[facture] ([no_facture])
GO
ALTER TABLE [dbo].[concerner] CHECK CONSTRAINT [FK_concerner_facture]
GO
