<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="net45" />
  <package id="Castle.Services.Transaction" version="3.0.202.2202" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="5.3.1" targetFramework="net45" />
</packages>